[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Code is created from/by
[access "refs/*"]
	owner = group user/Imshubh69
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Imshubh69
	label-Verified = -1..+1 group user/Imshubh69
	push = group user/Imshubh69
	read = group user/Imshubh69
	rebase = group user/Imshubh69
	removeReviewer = group user/Imshubh69
	submit = group user/Imshubh69
[access "refs/heads/*"]
	create = group user/Imshubh69
	push = +force group user/Imshubh69
	pushMerge = group user/Imshubh69
	read = group user/Imshubh69
[access "refs/tags/*"]
	push = group user/Imshubh69
	push = +force group user/Imshubh69
